[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:luisiacc/nvim-config
[submodule "nvim-config"]
	path = .config/nvim
	url = https://github.com/luisiacc/nvim-config
	branch = main
